__pycache__/
venv/
.venv/
*.pyc

# host-side runtime/env dirs (created by Docker runs and the venv)
.ros/
.config/
.rtabmap/
.rtabmap

# scan outputs
*.oni
*.ply
*.obj
*.stl
*.mp4
*.db
*.g2o
*.dot
rgb_*/
ros_logs/
output/

# db backups from resets
rtabmap.db.bak.*
