#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Graphics;Application
Comment[en_AU]=ASUS Xtion ROS SLAM Scanner GUI
Comment=ASUS Xtion ROS SLAM Scanner GUI
Exec=/home/jim/Desktop/scanner/3d-scanner/launch_gui.sh
GenericName[en_AU]=
GenericName=
Icon=camera-photo
MimeType=
Name[en_AU]=3D Scanner Control Panel
Name=3D Scanner Control Panel
Path=/home/jim/Desktop/scanner/3d-scanner
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
